
*.out
*.swp
*.s
*.o
.cache/
.Trash/
.abrt/
.adobe/
.config/
.gconf/
.gnome2/
.gnupg/
.local/
.macromedia/
.mozilla/
.pulse/
.thumbnails/   

######################

.ICEauthority
.aliedit/
.chewing/
.cshrc
.dbus/
.elinks/
.esd_auth
.gconfd/
.gnote/
.gstreamer-0.10/
.gtk-bookmarks
.imsettings.log
.lesshst
.pulse-cookie
.tcshrc
.thunderbird/
